body {
    font-family: sans-serif;
    line-height: 1.25;
    font-size: 14px;
}

pre {
    /*background-color: #f2f2f2;*/
    /*padding: 10px;*/
    font-size: 10px;
    /*display: block;*/
    /*margin: 20px;*/
    /*width: 90%;*/
    /*overflow-x: scroll;*/
    /*border: 1px solid #e2e2e2;*/
}

.navWrap {
    display: block;
    width: 100%;
}

ul.nav {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    clear: both;
}

ul.nav li {
    float: left;
    padding: 5px 10px;
}

    ul.nav li a {
        text-decoration: none;
        padding: 10px 20px 20px 20px;
    }

ul.nav li ul.subNav {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}

ul.nav li:hover ul.subNav {
    display: block;
    position: absolute;
    width: 150px;
    margin-top: 5px;
    background-color: #f2f2f2;
    z-index: 1000;
}

ul.subNav li {
    float: none;
    border-bottom: 1px solid #ccc;
}
ul.subNav li:hover {
    background-color: #e2e2e2;
}

    ul.subNav li:last-child {
        border-bottom: 0px;
    }

ul.subNav li a {
    display: block;
    padding: 5px 10px;
}


input[type=text] {
    padding: 5px 10px;
    margin: 5px;
}
input[type=submit] {
    padding: 5px;
    margin: 5px;
    height: 34px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #e2e2e2;
}

select {
    /*background: transparent;*/
    background-color: #e2e2e2;
   padding: 5px;
   margin: 5px;
   font-size: 12px;
   line-height: 1;
   border: 1px solid #ccc;
   border-radius: 2px;
   height: 34px;
   cursor: pointer;
   -webkit-appearance: none;
}


.wrapper {
    width: 75%;
    margin: 0 auto;
    padding: 50px;
}
.half {
    width: 45%;
    padding: 20px 0;
    display: block;
    float: left;
}
.half:after {
    clear: both;
}

ul.storeList {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.storeList li a {
    font-size: 13px;
    text-decoration: none;
}
